$colorfondo: rgba(202, 119, 235);
$colorfondo1: rgb(170, 104, 196);
$colorbarra: rgb(93, 16, 165);
$colorbarrahover:rgba(160, 16, 165, 0.678);
$colorfondo2: white;
$fuenteprincipal: cursive;
$colorfondobody: linear-gradient(90deg, rgba(199, 124, 228, 0.8) 0%, rgba(255,255,255) 8%, rgba(255,255,255) 92%, rgba(199,124,228,0.8) 100%);
$colorfondobody1: linear-gradient(180deg, rgba(199,124,228,0.86) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 92%, rgba(199,124,228,0.86) 100%);